@import 'uview-plus/index.scss';

body {
  background-color: $u-bg-color;
  height: 100vh !important;
}

page {
  height: 100%;
  overflow: hidden;
}

uni-page-wrapper {
  position: relative;
  height: 100%;
}

uni-page-body {
  background-color: $u-bg-color;
  height: 100%;
}

#app,
uni-app,
uni-page,
uni-page-wrapper {
  height: 100%;
  overflow: hidden;
}
